.main {
  background-color: #e6ffff;
  border: 2px solid teal;
  border-radius: 5%;
  width: 210px;
}

.tables {
  display: inline-block;
  margin-left: 5px;
  user-select: none;
  width: 200px;
}

.table {
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.table:hover {
  box-shadow: 2px 2px 2px tomato;
}

.table.selected {
  background: tomato;
  box-shadow: 2px 2px 2px teal;
}

#reserv {
  display: block;
  margin: 5px 5px 0px 5px;
}

#reserv:hover {
  color: teal;
}

.space {
  height: 10px;
}

button {
  display: block;
  margin: 5px;
}

p {
  font-family: helvetica;
  margin-left: 5px;
}

h3 {
  font-family: helvetica;
  margin-left: 5px;
}
