body {
  background-color: #c1b4ae;
  font-family: 'Arial';
  margin: 0;
  max-width: 100%;
}

/*create flex layout with 10 segments*/
#flexContainer {
  display: flex;
  flex-direction: column;
  height: 200vh;
  max-width: 100%;
  width: 100vw;
}

header {
  background-image: linear-gradient(#92140c, #bd1b0f);
  box-shadow: 0 0 1em 0.5em #353238;
  color: #fff;
  flex: 1;
  padding: 2em;
  text-align: center;
}

#logo {
  height: 100px;
}

#socialMedia {
  display: inline;
  font-size: 3em;
  position: absolute;
  right: 30px;
  vertical-align: center;
}

a .fa {
  color: white;
}

#opentable {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  display: inline;
  font-family: 'Helvetica';
  font-style: bold;
  height: 30px;
  position: relative;
  vertical-align: top;
}

#opentablelink {
  color: #353238;
  text-decoration: none;
}

#mainImgContainer {
  background-color: #353238;
  border-bottom: 1px gray solid;
  flex: 2;
  padding: 1%;
  text-align: center;
}

#mainImg {
  height: 98%;
}

#newsSpecialLocationContainer {
  border-bottom: 1px gray solid;
  display: flex;
  flex: 5;
}

#newsContainer {
  border-right: 1px gray solid;
  flex: 1;
}
/*~~~~~~~Start - News CSS added by Andrew~~~~~~~*/
  #newsHead {
    color: #92140c;
    font-family: 'Helvetica';
    font-size: 2em;
    margin-bottom: 2%;
    text-align: center;
  }

  #newsDate {
    font-family: 'Helvetica';
    text-align: center;
  }

  #newsContent {
    border: 2px;
    padding: 15px;
    text-align: justify;
  }
/*~~~~~~~END - News CSS added by Andrew~~~~~~~*/

#dailySpecialContainer {
  border-right: 1px gray solid;
  text-align: center;
  flex: 1;
}

#dailySpecialImg {
  height: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  width: 50%;
}

#googleContainer {
  flex: 1;
}

#tabsAndPhotosContainer {
  background-image: linear-gradient(#92140c, #bd1b0f);
  display: flex;
  flex: 9;
}

/*Container holding the tabsForm*/
#tabsContainer {
  display: flex;
  flex: 4;
  flex-direction: column;
  padding: 2%;
}

#tabsRow {
  background-color: #f5f5f0;
  border-left: 1px gray solid;
  border-top: 1px gray solid;
  border-right: 1px gray solid;
  box-shadow: 0 0 1em 0.5em #353238;
  color: #92140c;
  display: flex;
  flex: 1;
  height: 8%;
  width: 80%;
  margin-left: 10%;
  /*margin-top: 15%;*/
}

#tabsRow:hover {
  color: gray;
  cursor: pointer;
}

#tabForm {
  background-color: #f5f5f0;
  border: 1px gray solid;
  box-shadow: 0 0 1em 0.5em #353238;
  flex: 9;
  height: 70%;
  width: 80%;
  margin-left: 10%;
  overflow: scroll;
}

#aboutSubedeiTab {
  border-right: 1px gray solid;
  display: inline;
  flex: 1;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

#menuTab {
  border-right: 1px gray solid;
  display: inline;
  flex: 1;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

#reservationsTab {
  display: inline;
  flex: 1;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

#aboutSubedeiBody{
  margin: 3%;
  text-align: justify;
}

#menuBody {
  padding-left: 2%;
  padding-right: 5%;
}

#reservationsBody {
  padding: 4%;
}

#photosRightContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.photoBoxes {
  display: flex;
  flex: 1;
  padding: 2%;
}

#rightPhoto1 {
  flex: 1;
  height: 96%;
  width: 96%;
}

#rightPhoto2 {
  flex: 1;
  height: 96%;
  width: 96%;
}

#rightPhoto3 {
  flex: 1;
  height: 96%;
  width: 96%;
}

#footer {
  background-color: #353238;
  flex: 1;
}
