body {
  background-color: #c1b4ae;
  font-family: 'Arial';
  margin: 0;
  max-width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 220vh;
  max-width: 100%;
  width: 100vw;
}

header {
  background-image: linear-gradient(#92140c, #bd1b0f);
  box-shadow: 0 0 1em 0.5em #353238;
  color: #fff;
  flex: 1;
  padding: 2em;
  text-align: center;
}

#logo {
  height: 100px;
}

.social-media {
  display: inline;
  font-size: 47px;
  position: absolute;
  right: 30px;
  vertical-align: bottom;
}

a .fa {
  color: white;
}

#opentable {
  color: #353238;
  text-decoration: none;
  height: 41px;
}

.main-img-container {
  background-color: #353238;
  border-bottom: 1px gray solid;
  flex: 2;
  padding: 1%;
  text-align: center;
}

#mainImg {
  box-shadow: 0 0 1em 0.2em #353238;
  height: 400px;
}
.news-specials-location-header {
  display: flex;
  flex: .8;
  flex-wrap: wrap;
}
.news-specials-location-container {
  border-bottom: 1px gray solid;
  display: flex;
  flex: 3.8;
  flex-wrap: wrap;
}

.news-container {
  border-right: 1px gray solid;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

h2 {
  color: #92140c;
  font-family: 'Helvetica';
  font-size: 2vw;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 2px;
  text-align: center;
  border-bottom: 2px solid gray;
}

h3 {
  padding-right: 2px;
  color: #92140c;
  font-family: 'Helvetica';
  font-size: 1.7vw;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#newsDate {
  font-family: 'Helvetica';
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#newsContent {
  border: 0px 2px 2px 2px;
  padding: 1%;
  padding-top:0%;
  text-align: left;
}

#newsContent::first-letter{
  color: #ff0000;
  font-size: xx-large;
  padding-right: 2px;
  color: #92140c;
  font-family: 'Helvetica';
  font-size: 2vw;
  font-weight: bold;
}

.daily-special-container {
  border-right: 1px gray solid;
  flex: 1;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

#dailySpecialImg {
  box-shadow: 0 0 1em 0.5em #353238;
  height: 200px;
  width: 225px;
}

.google-map-container {
  flex: 1;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

.tabs-photos-container {
  background-image: linear-gradient(#92140c, #bd1b0f);
  display: flex;
  flex: 7;
}

.tabs-container {
  display: flex;
  flex: 4;
  flex-direction: column;
  padding: 2%;
}

.tabs-row {
  background-color: #f5f5f0;
  border-left: 1px gray solid;
  border-top: 1px gray solid;
  border-right: 1px gray solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;;
  box-shadow: 0 0 1em 0.5em #353238;
  color: #92140c;
  display: flex;
  flex: 1;
  height: 6%;
  width: 80%;
  margin-left: 10%;
}

.tab-form {
  background-color: #f5f5f0;
  border: 1px gray solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 1em 0.5em #353238;
  flex: 9;
  height: 70%;
  overflow-y: auto;
  width: 80%;
  margin-left: 10%;
}

.tab-links {
  display: inline;
  flex: 1;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

div.tabs-row button.active {
  background-color: #92140c;
  color: #fff;
}

div.tabs-row button:hover {
  background-color: gray;
}
#aboutSubedeiBody{
  margin: 1%;
  padding: 2%;
  text-align: justify;
}
#aboutSubedeiBody::first-letter{
  color: #ff0000;
  font-size: xx-large;
  padding-right: 2px;
  color: #92140c;
  font-family: 'Helvetica';
  font-size: 2vw;
  font-weight: bold;
  text-align:left;
}

.satirical-img {
  width: 80%;
}

.food-icons {
  display: inline-block;
}

#menuBody {
  padding-left: 2%;
  padding-right: 5%;
}

#reservationsBody {
  display: flex;
  padding: 4%;
}

#commentsReviewsBody {
  padding: 4%;
}

.submit-reservation-btn {
  background-color: #92140c;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 5px;
}

.reservations-left-container {
  width: 50%;
}

.reservations-right-container {
  border: 1px black solid;
  border-radius: 5px;
  padding-top: 10%;
  padding-left: 10%;
}

.photos-right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.photoBoxes {
  display: flex;
  flex: 1;
  padding: 2%;
}

#rightPhoto1 {
  box-shadow: 0 0 1em 0.25em #5e0d08;
  flex: 1;
  height: 96%;
  width: 96%;
}

#rightPhoto2 {
  box-shadow: 0 0 1em 0.5em #5e0d08;
  flex: 1;
  height: 96%;
  width: 96%;
}

#rightPhoto3 {
  box-shadow: 0 0 1em 0.5em #5e0d08;
  flex: 1;
  height: 96%;
  width: 96%;
}

footer {
  background-color: #353238;
  color: #fff;
  display: flex;
  flex: 1;
  line-height: 0.4em;
  text-align: center;
}

.left-footer-box {
  flex: 1;
}

.middle-footer-box {
  flex: 1;
}

.right-footer-box {
  flex: 1;
}

/*Google maps*/

#map {
  flex: 1;
  width: 75%;
  margin: 0 auto;
  height: 65%;
  background-color: gray;
  box-shadow: 0 2px 5px #353238
}

.map-location-btn {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 1px 5px #353238
}

@media (max-width: 1224px) {
  #logo {
    height: 70px;
  }

  .tab-links {
    font-size: 0.6em;
  }

  #newsHead {
    font-size: 0.9em;
  }

  #newsContent {
    font-size: 0.8em;
  }

  #dailySpecial {
    font-size: 0.8em;
  }

  #dailySpecialImg {
    height: 120px;
    width: 150px;
  }

  #aboutSubedeiBody {
    font-size: 0.7em;
  }

  #menuBody {
    font-size: 0.7em;
  }

  #reservationsBody {
    font-size: 0.7em;
  }

  #rightPhoto1 {
    height: 76%;
  }

  #rightPhoto2 {
    height: 76%;
  }

  #rightPhoto3 {
    height: 76%;
  }

  footer {
    font-size: 0.7em;
  }
}

@media (max-width: 768px) {
  #logo {
    height: 60px;
  }

  .tab-links {
    font-size: 0.6em;
  }

  .social-media {
    font-size: 20px;
  }

  #opentable {
    height: 20px;
  }

  #mainImg {
    height: 300px;
  }

  #newsHead {
    font-size: 0.8em;
  }

  #newsContent {
    font-size: 0.7em;
  }

  #dailySpecial {
    font-size: 0.7em;
  }

  #dailySpecialImg {
    height: 100px;
    width: 125px;
  }

  #aboutSubedeiBody {
    font-size: 0.7em;
  }

  #menuBody {
    font-size: 0.7em;
  }

  #reservationsBody {
    font-size: 0.7em;
  }

  #rightPhoto1 {
    height: 55%;
  }

  #rightPhoto2 {
    height: 55%;
  }

  #rightPhoto3 {
    height: 55%;
  }

  #map {
    height:45%;
    }

  .map-location-btn {
    font-size: 0.5em;
    margin-top: 10px;
  }

  footer {
    font-size: 0.5em;
  }
}

@media (max-width: 480px) {
  header {
    flex: 0.2;
    padding: 1em;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    height: 260vh;
    max-width: 100%;
    width: 100vw;
  }

  #logo {
    height: 50px;
  }

  .social-media {
    font-size: 20px;
  }

  .satirical-img {
    height: 100px;
  }

  .main-img-container {
    flex: 0.7;
  }

  #mainImg {
    height: 200px;
  }

  .news-specials-location-container {
    flex-direction: column;
  }

  #dailySpecialImg {
    height: 200px;
    width: 200px;
  }
  #map {
    height:65%;
  }

  .tabs-photos-container {
    background-image: linear-gradient(#92140c, #bd1b0f);
    flex: 1.5;
  }

  .tabs-container {
    flex-direction: column;
    padding: 2%;
  }

  .tab-links {
    flex: 1;
    font-size: 6px;
  }

  .photos-right-container {
    flex: 0;
  }

  #rightPhoto1 {
    display: none;
  }

  #rightPhoto2 {
    display: none;
  }

  #rightPhoto3 {
    display: none;
  }

  #aboutSubedeiBody {
    font-size: 0.5em;
  }

  #menuBody {
    font-size: 0.5em;
  }

  #reservationsBody {
    font-size: 0.5em;
  }

  footer {
    flex: 0.2;
    font-size: 0.5em;
  }
}
